.portfolio-container {
    flex: 1.4;
    height: 100%;
    position: relative;
    margin: 0 40px;
}

.containers-border {
    height: 84%;
    background-color: #000;
    position: absolute;
    right: -40px;
    top: 8%;
}

.portfolio-center {
    display: flex;
    align-items: center;
    height: calc(100vh - 68px);
}