.portfolio-container {
    flex: 1.4;
    height: 100%;
    position: relative;
}

.containers-border {
    height: 84%;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 8%;
}