.portfolio-container {
    flex: 1.5;
    position: relative;
    margin: 0 40px;
}

.containers-border {
    height: 84%;
    background-color: #000;
    position: absolute;
    right: -40px;
    top: 8%;
}

.portfolio-center {
    display: flex;
    align-items: center;
    height: calc(100vh - 68px);
}

@media (max-width: 1200px){
    .portfolio-container {
        margin: 0;
    }

    .containers-border {
        display: none;
    }

    .portfolio-center {
        height: auto
    }
}