.slide-button {
    font-size: 16px;
    color: #61DBFB;
    padding: 14px 16px;
    border: 3px solid #61DBFB;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 300ms ease-in-out;
    font-weight: bold;
    background: none;
}

.slide-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #61DBFB;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms cubic-bezier(0.3, 1, 0.8, 1);
}

@media (hover: hover){
    .slide-button:hover {
        color: #FFFFFF;
    }

    .slide-button:hover::before {
        transform: scaleX(1);
    }
}

@media (hover: none){
    .slide-button {
        color: #FFFFFF;
        background: #61DBFB;
    }
}
