.profile-details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Recursive", sans-serif;
    margin-bottom: 20px;
}

.profile-details-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.my-name {
    font-size: 30px;
}

h3 {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: color 300ms ease-out;
}

.social-links-container a:first-of-type {
    margin-left: 0;
}

a i {
    font-size: 30px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

@media (hover: hover){
    .social-links-container a:hover {
        color: #61DBFB
    }
}