.description-container {
    display: flex;
}

.description-container p {
    flex: 1.5;
    font-family: "Montserrat", sans-serif;
}

.description-container span {
    font-weight: bold;
    color: #61DBFB;
    font-size: 20px;
}

.skill-list-holder {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-button-container {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
}

.contact-button {
    background-color: #61DBFB;
    border: none;
    width: 50%;
    color: #FFF;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;
    margin-top: auto;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 10px;
}