.skill-box-container {
    width: 100%;
    font-size: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    transition: transform 150ms ease-out;
}

.skill-box-container:hover {
    transform: scale(1.25, 1.25);
}